
#color{
    background: rgba(192, 192,192, 0.7);

}
.bgimage{
    background: url(billboard.jpg) no-repeat center center;  
    height: 100%;
    background-size: cover;
    
}
.column{
    float: left;
    width: 18%;
    padding: 5px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    

}
footer{
background-color:black;

}



 a:link,a:visited{
     color: white;
     text-decoration: none;

}
nav{
    background: rgba(192, 192,192, 0.7);
    display: block;
}
.transparent_nav{
position:fixed;
display: inline-block;
width: 100%;

}
.cta{
    background: rgba(192, 192,192, 0.7);
    height: 40px;
    padding-top:10;

}
.cta:hover{
    background-color: yellow;
}

.button{
 text-align:center;
color: white;
padding-left:300px;
background:rgba(black,0.5);
}

.image{
 background-color: Lavender; 
}

.menu1{
display:inline-block;
width: 350px;
height:200px;
padding-left:198px;
}

.menu2{
display:inline-block;
width: 350px;
height:200px;
padding-left:200px;
}
